#Matrix {
    position: fixed;
    top:0;
    left:0;

    width: 100vw;
    height: 100vh;

    z-index:0;
    pointer-events: none;
}

#Umbrella{
    position: fixed;
}

#UmbrellaLogoText {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    pointer-events: none;
}

#umbrellalogotext1{
    font-size: 20px;
    font-weight: bold;
    color: rgba(255,255,255,0.4);
}
#umbrellalogotext2{
    font-size: 12px;
    font-weight: bold;
    color: rgba(255,255,255,0.25);
    display: block;
    margin-left: 25px;
}

.bh1index {
    background: black;
    position: relative;
    z-index:1;
    color: green;
    font-family: "Lucida Console", monospace;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0,0,0,.6);
}

.bp1index{

    background: black;
    position: relative;
    z-index: 1;
    color: green;
    font-family: "Lucida Console", monospace;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    width: 90%;
    max-width: 700px;
    margin: 3rem auto;
    padding: 2rem;

    border: 2px solid #00FF66;
    background-color: rgba(0,0,0,.9);
}

body {
    margin: 0;
    background: black;
}